# %STEM%.%EXT%

### SPARQL

```sparql
%SOURCECODE%
```

[Execute](%RUNURL%)

### Output

%OUT%

## Code examples

### curl

```shell
curl -o %STEM%.%EXT% https://raw.githubusercontent.com/wikipathways/WikiPathways-SPARQL-book/master/sparql/%STEM%.%EXT%
curl -H "Accept: " -G http://sparql.wikipathways.org/ --data-urlencode query@%STEM%.%EXT%
```
