# %STEM%.%EXT%

**Code examples:** [curl](#curl)

### SPARQL

```sparql
%SOURCECODE%
```

[Execute](%RUNURL%) [Edit](%EDITURL%)

### Output

%OUT%

## Code examples

### curl

```shell
curl -o %STEM%.%EXT% https://raw.githubusercontent.com/wikipathways/WikiPathways-SPARQL-book/master/sparql/%STEM%.%EXT%
curl -H "Accept: text/tab-separated-values" -G http://sparql.wikipathways.org/ --data-urlencode query@%STEM%.%EXT%
```
